@font-face {
  font-family: fuente;
  src: url(./assets/fonts/CAT-Arena.ttf);
}
h1{
  font-family: fuente;
  font-size: 5vw;
  font-weight: bold;
}
body {
  text-align: center;
  
  background-image: url(./assets/images/lluvia.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  color: black;
}
#tablero {
  width: 80vh;
  height: 80vh;
  margin: auto;
  border: 1px solid black;
  background-color: white;
  transform: rotate(90deg);
}
td {
  color: black;
  border: 1px solid black;
}
#color {
  position: absolute;
  top: 10%;
  right: 10%;
} 
